[build-system]
requires = ["setuptools>=42", "wheel", "Cython>=0.29.31"]
build-backend = "setuptools.build_meta"

# Limit the created wheels for windows to AMD64.
[tool.cibuildwheel.windows]
archs = ["AMD64"]